# Ignorar archivos de Python compilados
__pycache__/
*.pyc
*.pyo

# Ignorar la base de datos
db.sqlite3

# Ignorar la carpeta media (archivos subidos por el usuario)
Producto/renta_hogar/media/apartments/photos/test*

# Ignorar configuraciones sensibles (si corresponde)
*.env
venv/