{% extends "headers/login_header.html" %}

{% block titulo %}Añadir Apartamento{% endblock %}

{% block contenido %}
<h2>Añadir Apartamento</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="photos">Fotos del Apartamento:</label>
    <input type="file" name="photos" multiple>  <!-- Permitir la subida de múltiples fotos -->
    <button type="submit">Guardar Apartamento</button>
</form>

<a href="{% url 'owner_menu' %}">Volver al Menú de Propietario</a>
{% endblock %}
