{% extends "headers/login_header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/login_header.css' %}">
<link rel="stylesheet" href="{% static 'css/add_apartment.css' %}">
{% endblock %}

{% block contenido %}

<div class="add-apartment-container">
    <form class="add-apartment-form" method="post" enctype="multipart/form-data">
        <h2>Añadir Apartamento</h2>
        {% csrf_token %}
        
        <!-- Mostrar errores generales -->
        {% if form.non_field_errors %}
        <ul class="errorlist nonfield">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Mostrar errores específicos -->
        {{ form.as_p }}

        <label for="photos">Fotos del Apartamento:</label>
        <input type="file" name="photos" multiple>
        
        <button type="submit">Guardar Apartamento</button>
    </form>

    <a class="back-to-menu" href="{% url 'owner_menu' %}">Volver al Menú de Propietario</a>
</div>

{% endblock %}
