{% extends "headers/login_header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/login_header.css' %}">
<link rel="stylesheet" href="{% static 'css/add_apartment.css' %}">
{% endblock %}

{% block contenido %}

<div class="add-apartment-container">
    <form class="add-apartment-form" method="post" enctype="multipart/form-data">
        <h2>Añadir Apartamento</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <label for="photos">Fotos del Apartamento:</label>
        <input type="file" name="photos" multiple>  <!-- Permitir la subida de múltiples fotos -->
        <button type="submit">Guardar Apartamento</button>
    </form>

    <a class="back-to-menu" href="{% url 'owner_menu' %}">Volver al Menú de Propietario</a>
</div>

{% endblock %}
