{% extends "headers/header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/apartment_form.css' %}">
{% endblock %}

{% block contenido %}

<div class="add-apartment-container">
    <form class="add-apartment-form" method="post" enctype="multipart/form-data">
        <h2>{{ edit_mode|yesno:"Editar Apartamento,Añadir Apartamento" }}</h2>
        {% csrf_token %}
        
        {% if form.errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}


        <label for="address">Dirección del apartamento:</label>
        {{ form.address }}

        <label for="guest_count">Cantidad de huépedes:</label>
        {{ form.guest_count }}

        <label for="price">Precio por noche:</label>
        {{ form.price }}

        <label for="description">Descripción del Apartamento:</label>
        {{ form.description }}

        <label for="availability">Disponible:</label>
        <div class="availability-buttons">
            <button type="button" id="availabilityButton" class="btn btn-yes" name="is_visible" value="True" onclick="toggleAvailability()">Sí</button>
        </div>

        
        {% if edit_mode and apartment.photos.exists %}
            <h3>Fotos existentes</h3>
            <ul>
                {% for photo in apartment.photos.all %}
                    <li>
                        <input type="checkbox" name="existing_photos" value="{{ photo.id }}" checked>
                        <img src="{{ photo.photo.url }}" alt="Foto del apartamento" style="max-width: 100px; margin: 10px 0;">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <h3>{% if edit_mode %}Añadir Nuevas Fotos{% else %}Subir Fotos del Apartamento{% endif %}</h3>
        <label for="photos">Fotos del Apartamento:</label>
        <input type="file" name="photos" multiple accept=".jpg,.jpeg,.png,.gif">  
        
        <button type="submit">{{ edit_mode|yesno:"Guardar Cambios,Guardar Apartamento" }}</button>
    </form>

    <a class="back-to-menu" href="{% url 'owner_menu' %}">Volver al Menú de Propietario</a>
</div>


<script>
    function toggleAvailability() {
        var button = document.getElementById("availabilityButton");
        if (button.innerHTML === "Sí") {
            button.innerHTML = "No";
            button.classList.remove("btn-yes");
            button.classList.add("btn-no");
            button.value = "False";  
        } else {
            button.innerHTML = "Sí";
            button.classList.remove("btn-no");
            button.classList.add("btn-yes");
            button.value = "True";  
        }
    }

    window.onload = function() {
        var button = document.getElementById("availabilityButton");
        if (button.value === "True") {
            button.classList.add("btn-yes");
        } else {
            button.classList.add("btn-no");
        }
        };
    
</script>


{% endblock %}


