{% extends "headers/header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/apartment_form.css' %}">
{% endblock %}

{% block contenido %}
{% if edit_mode %}
    <div class="add-apartment-container" style="margin-top: 60vh;">
{% else %}
    <div class="add-apartment-container" style="margin-top: 40vh;">
{% endif %}
    <form class="add-apartment-form" method="post" enctype="multipart/form-data">
        <h2>{{ edit_mode|yesno:"Editar apartamento,Añadir apartamento" }}</h2>
        {% csrf_token %}
 
        <label for="address">Dirección del apartamento:</label>
        {{ form.address }}
        {% if form.address.errors %}
            <ul class="error-list">
                {% for error in form.address.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="guest_count">Cantidad de huépedes:</label>
        {{ form.guest_count }}
        {% if form.guest_count.errors %}
            <ul class="error-list">
                {% for error in form.guest_count.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="price">Precio por noche:</label>
        {{ form.price }}
        {% if form.price.errors %}
            <ul class="error-list">
                {% for error in form.price.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label for="description">Descripción del apartamento:</label>
        {{ form.description }}
        {% if form.description.errors %}
            <ul class="error-list">
                {% for error in form.description.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <input type="hidden" id="availabilityField" name="is_visible" value="True">


        <label for="availability">Disponible:</label>
        <div class="availability-buttons">
            <button type="button" id="availabilityButton" class="btn btn-yes" name="is_visible" value="True" onclick="toggleAvailability()">Sí</button>
        </div>

        {% if edit_mode and apartment.photos.exists %}   
            <h3>Foto actual:</h3>
            <ul>
                {% for photo in apartment.photos.all %}
                    <li>
                        <img src="{{ photo.photo.url }}" alt="Foto del apartamento" style="max-width: 100px; margin: 10px 0; margin-right: 50;">
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <h3>{% if edit_mode %}Cambiar foto del apartamento{% else %}Subir foto del apartamento{% endif %}</h3>
        <label for="photos">Foto del apartamento:</label>
        <input type="file" name="photos" accept=".jpg,.jpeg,.png,.gif">  
        {% if photo_errors %}
            <ul class="error-list">
                {% for error in photo_errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <button type="submit">{{ edit_mode|yesno:"Guardar Cambios,Guardar Apartamento" }} </button>
    </form>

    <a class="back-to-menu" href="{% url 'owner_menu' %}">Volver al Menú de Propietario</a>
</div>


<script>
    function toggleAvailability() {
        var button = document.getElementById("availabilityButton");
        var availabilityField = document.getElementById("availabilityField");

        if (button.innerHTML === "Sí") {
            button.innerHTML = "No";
            availabilityField.value = "False"; 
            button.classList.remove("btn-yes");
            button.classList.add("btn-no");
            button.value = "False";  
        } else {
            button.innerHTML = "Sí";
            availabilityField.value = "True"; 
            button.classList.remove("btn-no");
            button.classList.add("btn-yes");
            button.value = "True";  
        }
    }

    window.onload = function() {
        var button = document.getElementById("availabilityButton");
        if (button.value === "True") {
            button.classList.add("btn-yes");
        } else {
            button.classList.add("btn-no");
        }
        };
    
</script>


{% endblock %}


