{% extends "headers/login_header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/login_header.css' %}">
<link rel="stylesheet" href="{% static 'css/owner_menu.css' %}">
{% endblock %}


{% block contenido %}

<div class="main-content">
    <h2>Menú de Propietarios</h2>

    <!-- Botón para añadir apartamento -->
    <a href="{% url 'add_apartment' %}" class="btn btn-primary">Añadir Apartamento</a>

    <!-- Listado de apartamentos -->
    <h3>Mis Apartamentos</h3>
    <ul>
        {% for apartment in apartments %}
        <li>

            <div class="apartment-photo">
                {% if apartment.photos.exists %}
                <img src="{{ apartment.photos.first.photo.url }}" alt="Foto de {{ apartment.address }}"
                    class="apartment-photo">
                {% else %}
                <span>No hay fotos disponibles</span>
                {% endif %}
            </div>
            <span>{{ apartment.address }}</span>
            <span>Capacidad: {{ apartment.guest_count }} huéspedes</span>
            <span>¿Visible?: {{ apartment.is_visible }}</span>
            <span>Descripción: {{ apartment.description }}</span>

            <div class="action-buttons">
                <a href="{% url 'edit_apartment' apartment.id %}" class="btn btn-primary btn-sm">Editar</a>
                <!-- Botón de eliminar -->
                <form action="{% url 'delete_apartment' apartment.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este apartamento?');">
                        Eliminar
                    </button>
                </form>
            </div>
        </li>
        {% empty %}
        <li>No tienes apartamentos registrados.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}