{% extends "headers/header.html" %}
{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}

{% block contenido %}
<h2>Valoraciones de tus apartamentos</h2>

{% if reviews %}
<h1 >Valoraciones de tus apartamentos </h1>
<div class="reviews-container">
    {% for review in reviews %}
    <div class="apartment-reviews">
        <h3>{{ review.apartment.address }}</h3>
        <ul class="review-list">
            <li class="review-item">
                <strong>{{ review.user.email }}:</strong>
                <span>{{ review.rating }} estrellas</span>
                <p>{{ review.comment }}</p>
            </li>
        </ul>
            </div>
    {% endfor %}
</div>
{% else %}
<p>No tienes apartamentos registrados.</p>
{% endif %}
{% endblock %}