{% extends "headers/header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block contenido %}

<div class="content-login">
    <h1 class="login-title">Iniciar Sesión</h1>
    <form id="formulario" method="post">
        {% csrf_token %}
        
        <div>
            <label for="id_email">Correo Electrónico:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <ul class="error-list">
                    {% for error in form.email.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div>
            <label for="id_password">Contraseña:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <ul class="error-list">
                    {% for error in form.password.errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div>
            <p><input type="submit" value="Iniciar Sesión" /></p>
        </div>
    </form>

    <div class="register-link">
        <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
    </div>
</div>



{% endblock %}
