{% extends "headers/home_header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/home_header.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}



{% block contenido %}

<div class="content-register">
    <h1 class="register-title">Registrarse</h1>
    <form class = "formulario-add_apartment" id="formulario" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Registrarse" /></p>
    </form>
</div>
{% endblock %}