{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">


<body>
    <header>
        <div class="navbar">
            <div class="logo">
                {% if user.is_authenticated %}
                    <a href="{% url 'menu' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 80px; margin-right:20px; margin-left: 10px;"> 
                    </a>
                {% else %}
                    <a href="{% url 'home_search' %}">
                        <img src="{% static 'images/logo.png' %}" alt="Logo" style="height: 80px; margin-right: 10px;"> 
                    </a>
                {% endif %}  
                <h1 class="home-title">RentaHogar</h1>              
            </div>
            <div class="user-menu">
                <span class="user-menu-icon"><i class="fas fa-user"></i></span>
                <div class="user-menu-content">
                    {% if user.is_authenticated %}
                        <!-- Opciones para usuarios autenticados -->
                        <a href="/auth/edit_profile" class="user-menu-item">Editar perfil</a>
                        {% if user.is_customer %}
                            <a href="/manage_reservations" class="user-menu-item">Gestionar reservas</a>
                        {% endif %}
                        {% if user.is_owner %}
                            <a href="/owner_reservations" class="user-menu-item">Gestionar reservas</a>
                        {% endif %}

                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="user-menu-item logout-btn">Cerrar sesión</button>
                        </form>
                    {% else %}
                        <a href="/auth/login" class="user-menu-item">Iniciar sesión</a>
                        <a href="/auth/register" class="user-menu-item">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <section class="contenido">
        {% block contenido %}{% endblock %}
    </section>
</body>
</html>
