.contenido {
    margin-top: 80px;
    width: 100%;
    min-height: 100%; /* Asegura que ocupe toda la altura disponible */
    background-color: #eeecfb;
    box-sizing: border-box;
    padding: 20px 0; /* Espaciado superior e inferior */
}

/* Contenedor principal */
.add-apartment-container {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
}

/* Título */
.add-apartment-form h2 {
    text-align: center;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos del formulario */
.add-apartment-form {
    background-color: #76a1d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.add-apartment-form .form-group {
    margin-bottom: 15px;
}

.add-apartment-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.add-apartment-form input,
.add-apartment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-apartment-form .errorlist {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
}

.add-apartment-form .current-photos {
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-apartment-form .current-photos img {
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-apartment-form .errorlist li {
    margin-bottom: 5px;
}
.uploaded-photos {
    margin-top: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.uploaded-photos h4 {
    margin: 0 0 10px 0;
}
.uploaded-photos ul {
    list-style: none;
    padding: 0;
}
.uploaded-photos ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

.current-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.current-photos img {
    max-width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.current-photos li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-apartment-form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-apartment-form button:hover {
    background-color: #4cae4c;
}

/* Enlace para volver al menú */
.back-to-menu {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #5cb85c;
    text-decoration: none;
    font-size: 14px;
}

.back-to-menu:hover {
    color: #4cae4c;
}
