/* Esta va a ser la fuente que usamos en todo */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.contenido-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6bcd82;
}

.home-title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}

.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #849c4f;
    padding: 20px;
    border-radius: 20px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    display: block;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: #44cd5b;
}




