{% extends "headers/login_header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/login_header.css' %}">
<link rel="stylesheet" href="{% static 'css/create_reservation.css' %}">
{% endblock %}

{% block contenido %}
<div class="reservation-container">
    <h1>Reservar Apartamento</h1>

    <div class="apartment-info">
        <div class="apartment-photo">
            <img src="{{ apartment.photos.first.photo.url }}" alt="Foto del Apartamento">
        </div>
        <div class="apartment-details">
            <h2>{{ apartment.address }}</h2>
            <p><strong>Capacidad:</strong> {{ apartment.guest_count }} huéspedes</p>
            <p><strong>Precio por noche:</strong> ${{ apartment.price }}</p>
        </div>
    </div>

    <form method="post" class="reservation-form">
        {% csrf_token %}
        
        {% if errors %}
            <div class="error-messages">
                {% for error in errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        
        <div class="form-group">
            <label for="id_start_date">Fecha de Inicio</label>
            <div class="date-row">
                <select name="start_day" class="form-control">
                    <option>Día</option>
                    {% for day in days %}
                    <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
                <select name="start_month" class="form-control">
                    <option>Mes</option>
                    {% for month in months %}
                    <option value="{{ month.value }}">{{ month.name }}</option>
                    {% endfor %}
                </select>
                <select name="start_year" class="form-control">
                    <option>Año</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="id_end_date">Fecha de Fin</label>
            <div class="date-row">
                <select name="end_day" class="form-control">
                    <option>Día</option>
                    {% for day in days %}
                    <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
                <select name="end_month" class="form-control">
                    <option>Mes</option>
                    {% for month in months %}
                    <option value="{{ month.value }}">{{ month.name }}</option>
                    {% endfor %}
                </select>
                <select name="end_year" class="form-control">
                    <option>Año</option>
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
                
        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
</div>
{% endblock %}
