{% extends "headers/header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/create_reservation.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block contenido %}
<div class="reservation-container">
    <h1>Reservar Apartamento</h1>

    <div class="apartment-info">
        <div class="apartment-photo">
            <img src="{{ apartment.photos.first.photo.url }}" alt="Foto del Apartamento">
        </div>
        <div class="apartment-details">
            <h2>{{ apartment.address }}</h2>
            <p><strong>Capacidad:</strong> {{ apartment.guest_count }} huéspedes</p>
            <p><strong>Precio por noche:</strong> ${{ apartment.price }}</p>
        </div>
    </div>

    <form method="post" class="reservation-form" data-reservations="{{ reserved_dates|escapejs }}">
        {% csrf_token %}

        {% if errors %}
            <div class="error-messages">
                {% for error in errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="fecha_rango">Selecciona las fechas en las que quieres alquilar:</label>
            <input type="text" id="fecha_rango" name="date_range" required>
        </div>

        <button type="button" data-price="{{ apartment.price }}" class="btn-primary" id="openModalButton" onclick="openModal()">Reservar</button>
    </form>

    <div id="reservationModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeModalButton">&times;</span>
            <h2>Confirmar Reserva</h2>
            <p>¿Estás seguro de que deseas confirmar la reserva para las siguientes fechas?</p>
            <p><strong>Fecha de inicio:</strong> <span id="modalStartDate"></span></p>
            <p><strong>Fecha de fin:</strong> <span id="modalEndDate"></span></p>
            <p><strong id="totalPrice">$0.00</strong></p> 
            <form method="post" action="{% url 'create_reservation' apartment.id %}">
                {% csrf_token %}
                <input type="hidden" id="modalStartDateInput" name="start_date">
                <input type="hidden" id="modalEndDateInput" name="end_date">
                <button type="submit" class="btn btn-primary">Sí, pagar reserva</button>
                <button type="button" class="btn btn-secondary" id="closeModalButtonCancel">Cancelar</button>
            </form>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/l10n/es.js"></script>
<script>
    const reservedDates = JSON.parse('{{ reserved_dates|escapejs }}');
    console.log(reservedDates); 

    flatpickr("#fecha_rango", {
        locale: "es",  
        dateFormat: "Y-m-d",  
        mode: "range",  
        disable: reservedDates,  
        onDayCreate: function(dObj, dStr, dFltr) {
            const dateStr = dStr; 

            if (reservedDates.includes(dateStr)) {
                dObj.classList.add("reserved");  
            }
        },
        onChange: function(selectedDates, dateStr, instance) {
            if (selectedDates.length === 2) {
                const startDate = selectedDates[0].toISOString().split('T')[0];
                const endDate = selectedDates[1].toISOString().split('T')[0];

                document.getElementById('modalStartDate').textContent = startDate;
                document.getElementById('modalEndDate').textContent = endDate;

                document.getElementById('modalStartDateInput').value = startDate;
                document.getElementById('modalEndDateInput').value = endDate;

                const pricePerNight = parseFloat(document.getElementById('openModalButton').getAttribute("data-price"));
                const differenceInTime = selectedDates[1] - selectedDates[0];
                const differenceInDays = differenceInTime / (1000 * 3600 * 24);
                const totalPrice = pricePerNight * differenceInDays;

                document.getElementById('totalPrice').textContent = `Total: $${totalPrice.toFixed(2)}`;
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const openModalButton = document.getElementById('openModalButton');
        const reservationModal = document.getElementById('reservationModal');
        const closeModalButtons = document.querySelectorAll('#closeModalButton, #closeModalButtonCancel');

        function openModal() {
            const dateRange = document.getElementById('fecha_rango').value;
            if (!dateRange) {
                alert('Por favor, selecciona un rango de fechas.');
                return;
            }

            reservationModal.style.display = 'block';
        }

        function closeModal() {
            reservationModal.style.display = 'none';
        }

        openModalButton.addEventListener('click', openModal);

        closeModalButtons.forEach(button => {
            button.addEventListener('click', closeModal);
        });

        window.addEventListener('click', function(event) {
            if (event.target === reservationModal) {
                closeModal();
            }
        });
    });
</script>



{% endblock %}
