{% extends "headers/header.html" %}

{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block contenido %}
<div class="contenido-home">
    <div class="filtros-container">
        <form method="get" action="{% url 'customer_menu' %}" class="filtros" id="search_form">
            <div class="filtro">
                <label for="price_min">Precio mínimo/noche:</label>
                <input type="number" id="price_min" name="precio_min" placeholder="Ej: 50"
                    value="{{ request.GET.precio_min }}">

                <label for="price_max">Precio máximo/noche:</label>
                <input type="number" id="price_max" name="precio_max" placeholder="Ej: 500"
                    value="{{ request.GET.precio_max }}">
            </div>
            <div class="filtro">
                <label for="huespedes">Número de huéspedes:</label>
                <input type="number" id="huespedes" name="huespedes" placeholder="Ej: 4"
                    value="{{ request.GET.huespedes }}">
            </div>
            <div class="filtro">
                <label for="fecha_inicio">Fecha de entrada:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ request.GET.fecha_inicio }}">

                <label for="fecha_fin">Fecha de salida:</label>
                <input type="date" id="fecha_fin" name="fecha_fin" value="{{ request.GET.fecha_fin }}">
            </div>
            <div class="filtro" style="padding-top: 7;">
                <button type="button" class="boton-borrar" id="clear_filters">Borrar filtros</button>
                <button type="submit" class="btn-buscar" style="margin-top: 25px;">Buscar</button>
            </div>
        </form>
    </div>

    <div class="resultados">
        {% if request.GET %}
            <h2>Resultados de la búsqueda:</h2>
        {% else %}
            <h2>Todos los apartamentos:</h2>
        {% endif %}
        {% if apartments %}
            <ul>
                {% for apartment in apartments %}
                <a href="{% url 'create_reservation' apartment_id=apartment.id %}">
                    <li>

                        <img src="{{ apartment.photos.first.photo.url }}" alt="Foto de {{ apartment.address }}"
                            class="apartment-photo">    
                        <p class="apartment-details">Número de huéspedes: {{ apartment.guest_count }}</p>
                        <p class="apartment-details">Dirección: {{ apartment.address }}</p>
                        <p class="price">Precio/noche: {{ apartment.price }}€</p>
                    </li>  
                </a> 
                {% endfor %}
            </ul>
        {% else %}
        <p>No se encontraron apartamentos que coincidan con los filtros.</p>
        {% endif %}
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {

        const clearButton = document.getElementById('clear_filters');
        if (clearButton) {
            clearButton.addEventListener('click', function () {
                console.log("Borrando filtros y recargando página...");
                const baseUrl = window.location.origin + window.location.pathname;
                window.location.href = baseUrl;  
            });
        } else {
            console.log('El botón "Borrar filtros" no se ha encontrado.');
        }
        const buscarButton = document.querySelector('.btn-buscar');
        if (buscarButton) {
            buscarButton.addEventListener('click', function (event) {
                event.preventDefault(); 
                console.log("Buscando con los filtros...");
                document.getElementById('search_form').submit(); 
            });
        } else {
            console.log('El botón "Buscar" no se ha encontrado.');
        }
    });
</script>


{% endblock %}



